body{
	background-image: url('./images/backMarvel.png');
	background-size: cover;
	background-attachment: fixed;
	background-color: aliceblue;
	background-repeat: no-repeat;
	scroll-behavior: smooth;

}
header{
	position: sticky;
	top: 0px;
	z-index:999;
}
.content{
	position: sticky;
	top:50px;
	z-index:999;
}
	
.logo{
	color: grey;
	font-weight: bolder;
	color: cyan;
}

.thumbnail{
	height: 200px;
}
.container{
	min-width: 100%;
	margin-top: 30vh;
}

.container .hero{
	max-height: 22rem;
	box-shadow: 1px 1px 1px 1px lightgrey;
	background-color: lightgrey;
}

.hero:hover{
	box-shadow: 2px 2px 10px 5px black;
}

.search-container > input {
	width: 60vw;
	margin: 50px auto !important;
}

.content h1{
	font-family: 'Berkshire Swash', cursive;
	font-size: 5rem;	
	text-shadow: 2px 2px yellow;
}
.content h2{
	font-family: 'Berkshire Swash', cursive;
	text-shadow: 2px 2px yellow;
}


.fav-btn{
	height: 25px;
	width: 25px;
	cursor: pointer;

}
.fav-btn > img{
	height: 100%;
	width: 100%
}


#search::placeholder{
	font-size: 1.2rem;
}
#search{
	padding: 5px 20px;
	font-size: 1.2rem;
}


#search-result-container{
	list-style-type: none;
	margin: 0px;
	padding-left: 5px;
	width: 59.9vw;
	top: 59%;
	left: 19.5%;
	padding: 5px 20px;
	width: ;
}

.item{
	
	color: grey;
	font-size: 1.3rem;
	text-decoration: none;
	
}
